.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 60vw;
  height: auto;
  border-radius: 10px;
}

.right-arrow {
  padding: 0px 20px;
  right: 32px;
  font-size: 3rem;
  color: #007aec;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  padding: 0px 20px;
  left: 32px;
  font-size: 3rem;
  color: #007aec;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.fade {
  opacity: 0;
  transition-duration: 1s ease;
}

.fade.active {
  opacity: 1;
  transition-duration: 1s;
}

.scale {
  opacity: 0;
  transition: 1s;
  transform: scale(0.5);
}

.scale.active {
  opacity: 1;
  transform: scale(1);
}

.rotate {
  opacity: 0;
  transition: 1s;
  transform: rotate(270deg);
}

.rotate.active {
  opacity: 1;
  transform: rotate(360deg);
}
